.side-drawer {
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px; /*Daha sonra belki tam ekran yapılabilir (100%)*/
    z-index: 200;
    transform: translateX(-100%);
    
    transition: transform 0.3s ease-out;
}

.logo-content{
    align-content: center;
    margin-top: 20px;
    object-fit: fill;
    padding-right: 40px;
    width: '100%';

}

.side-drawer.open {
    transform: translateX(0);
}
.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}