.myMessage{
    background-color: #D7EBFF;
    color: #545D65;
    width: 220px;
    border-radius: 7px;
    padding: 8px;
    margin: 10px;
    font-size: 13px;
}

.youMessage{
    background-color: rgb(245, 218, 230);
    color: #545D65;
    width: 220px;
    border-radius: 7px;
    padding: 8px;
    margin: 10px;
    font-size: 13px;
    float: right;
}